{% extends "adminApp/base.html" %}

{% block title %}
Profile
{% endblock %}
{% block content %}

{% include 'adminApp/sidebar.html' %}
{% load static %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row">
            <div class="col">
               <h3 class="page-title">Profile</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{%url 'indexpage'%}">Dashboard</a></li>
                  <li class="breadcrumb-item active">Profile</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="profile-header">
               <div class="row align-items-center">
                  <div class="col-auto profile-image">
                     {% if user.profile_image %}
                     <img class="rounded-circle" alt="User Image" src="{{ user.profile_image.url }}">
                     {% else %}
                     <img class="rounded-circle" alt="User Image" src="{% static 'assets/no_img.jpg' %}">
                     {% endif %}
                  </div>
                  <div class="col ml-md-n2 profile-user-info">
                     {% if user.full_name %}
                     <h4 class="user-name mb-0">{{ user.full_name }}</h4>
                     {% else %}
                     <h4 class="user-name mb-0">New User</h4>
                     {% endif %}
                     {% if user.user_type %}
                     <h6 class="text-muted">{{ user.user_type }}</h6>
                     {% else %}
                     <h6 class="text-muted">Guest</h6>
                     {% endif %}
                     <div class="user-Location"><i class="fas fa-map-marker-alt"></i> {{ user.city }}</div>
                     {% if user.user_description %}
                     <div class="about-text">{{ user.user_description }}</div>
                     {% else %}
                     <div class="about-text">Im Demo user. Bangladesh is Love.</div>
                     {% endif %}
                  </div>
                  <div class="col-auto profile-btn">
                     {% if user.id %}
                     <a href="/edit/{{ user.id }}" class="btn btn-primary">
                        {% endif %}
                        Edit
                     </a>
                  </div>
               </div>
            </div>
            <div class="profile-menu">
               <ul class="nav nav-tabs nav-tabs-solid">
                  <li class="nav-item">
                     <a class="nav-link active" data-toggle="tab" href="#per_details_tab">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#password_tab">Password</a>
                  </li>
               </ul>
            </div>
            <div class="tab-content profile-tab-cont">
               <div class="tab-pane fade show active" id="per_details_tab">
                  <div class="row">
                     <div class="col-lg-9">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title d-flex justify-content-between">
                                 <span>Personal Details</span>
                                 {% if user.id %}
                                 <a class="edit-link" href="/edit/{{ user.id }}"><i
                                       class="far fa-edit mr-1"></i>Edit</a>
                                 {% endif %}
                              </h5>
                              <div class="row">
                                 <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                                 {% if user.full_name %}
                                 <p class="col-sm-9">{{ user.full_name }}</p>
                                 {% else %}
                                 <p class="col-sm-9">New User</p>
                                 {% endif %}
                              </div>
                              <div class="row">
                                 <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</p>
                                 {% if user.dob %}
                                 <p class="col-sm-9">{{ user.dob }}</p>
                                 {% else %}
                                 <p class="col-sm-9">12 January 2003</p>
                                 {% endif %}
                              </div>
                              <div class="row">
                                 <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID</p>
                                 <p class="col-sm-9">{{ user.email }}</p>
                              </div>
                              <div class="row">
                                 <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile</p>
                                 {% if user.mobile_number %}
                                 <p class="col-sm-9">{{ user.mobile_number }}</p>
                                 {% else %}
                                 <p class="col-sm-9">00000000</p>
                                 {% endif %}
                              </div>
                              <div class="row">
                                 <p class="col-sm-3 text-muted text-sm-right mb-0">Address</p>
                                 {% if user.city %}
                                 <p class="col-sm-9 mb-0">{{ user.city }} </p>
                                 {% else %}
                                 <p class="col-sm-9 mb-0">Demo City </p>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title d-flex justify-content-between">
                                 <span>Account Status</span>
                                 <a class="edit-link" href="#"><i class="far fa-edit mr-1"></i> Edit</a>
                              </h5>
                              <button class="btn btn-success" type="button"><i class="fe fe-check-verified"></i>
                                 Active</button>
                           </div>
                        </div>
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title d-flex justify-content-between">
                                 <span>Skills </span>
                                 <a class="edit-link" href="#"><i class="far fa-edit mr-1"></i> Edit</a>
                              </h5>
                              <div class="skill-tags">
                                 <span>Html5</span>
                                 <span>CSS3</span>
                                 <span>WordPress</span>
                                 <span>Javascript</span>
                                 <span>Android</span>
                                 <span>iOS</span>
                                 <span>Angular</span>
                                 <span>PHP</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="password_tab" class="tab-pane fade">
                  <div class="card">
                     <div class="card-body">
                        <h5 class="card-title">Change Password</h5>
                        <div class="row">
                           <div class="col-md-10 col-lg-6">
                              <form method="POST" class="post-form" action="/change_password/{{ user.id }}">
                                 {% csrf_token %}
                                 <div class="form-group">
                                    <label for="old_password">Old Password</label>
                                    <input type="password" class="form-control" name="old_password" id="old_password" />
                                 </div>
                                 <div class="form-group">
                                    <label for="new_password1">New Password</label>
                                    <input type="password" class="form-control" name="new_password1"
                                       id="new_password1" />
                                 </div>
                                 <div class="form-group">
                                    <label for="new_password2">Confirm New Password</label>
                                    <input type="password" class="form-control" name="new_password2"
                                       id="new_password2" />
                                 </div>
                                 <button class="btn btn-primary" type="submit">Save Changes</button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
{% endblock %}